.ExposureScreen .Grid {
  background-color: #999;
  border: 2px outset #aaa;
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
}

.ExposureScreen .Grid > .Row {
  display: flex;
  flex-direction: row;
}

.ExposureScreen .Grid > .Row > .Sector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px inset #aaa;
  width: 160px;
  height: 160px;
  margin: 1px;
}

.ExposureScreen .StripContainer {
  padding: 8px;
  height: 36px;
}
