.ExposureView .GrayBackground {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
  border: 2px outset #aaa;
  background-color: #999;
  padding: 10px;
}

.ExposureView .Row {
  display: flex;
  flex-direction: row;
}

.ExposureView .StripContainer {
  flex-grow: 0;
  margin: 8px;
  width: 140px;
}
